body {
  font-family: PT Serif;

  header {
    background-color: #FDFAFF;
    display: block;
    padding: 39px 0;

    .top-menu {
      display: flex;
      justify-content: space-between;

      .get-started {
        a {
          width: 160px;
          height: 47px;
          font-family: Inter;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 47px;
          display: block;
          background: #8953B7;
          border-radius: 4px;
          text-align: center;
          color: #FFFFFF;
        }
      }
    }
  }

  .feature {
    text-align: center;
    padding: 100px 0 0 0;
    background-color: #fdfaff;

    h1 {
      font-family: PT Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      color: #1E1C21;
      padding: 0 0 15px 0;
    }
    p {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #797283;
      line-height: 34px;
    }
    img{
      margin-top: 61px;
    }
  }
}